@page "/students/details"
@using Microsoft.EntityFrameworkCore
@using Academy.Models
@inject IDbContextFactory<Academy.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Student</h2>
    <hr />
    @if (student is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">LastName</dt>
            <dd class="col-sm-10">@student.LastName</dd>
            <dt class="col-sm-2">FirstName</dt>
            <dd class="col-sm-10">@student.FirstName</dd>
            <dt class="col-sm-2">MiddleName</dt>
            <dd class="col-sm-10">@student.MiddleName</dd>
            <dt class="col-sm-2">BirthDate</dt>
            <dd class="col-sm-10">@student.BirthDate</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@student.Email</dd>
            <dt class="col-sm-2">Phone</dt>
            <dd class="col-sm-10">@student.Phone</dd>
            <dt class="col-sm-2">Photo</dt>
         @*    <dd class="col-sm-10">@student.Photo</dd> *@
            <dt class="col-sm-2">GroupId</dt>
            <dd class="col-sm-10">@student.GroupId</dd>
        </dl>
        <div>
            <a href="@($"/students/edit?studentid={student.StudentId}")">Edit</a> |
            <a href="@($"/students")">Back to List</a>
        </div>
    }
</div>

@code {
    private Student? student;

    [SupplyParameterFromQuery]
    private int StudentId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        student = await context.Students.FirstOrDefaultAsync(m => m.StudentId == StudentId);

        if (student is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
