@page "/groups/details"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademy.Models
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Group</h2>
    <hr />
    @if (group is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">group_name</dt>
            <dd class="col-sm-10">@group.group_name</dd>
            <dt class="col-sm-2">direction</dt>
            <dd class="col-sm-10">@group.direction</dd>
            <dt class="col-sm-2">weekdays</dt>
            <dd class="col-sm-10">@group.weekdays</dd>
            <dt class="col-sm-2">start_time</dt>
            <dd class="col-sm-10">@group.start_time</dd>
        </dl>
        <div>
            <a href="@($"/groups/edit?group_id={group.group_id}")">Edit</a> |
            <a href="@($"/groups")">Back to List</a>
        </div>
    }
</div>

@code {
    private Group? group;

    [SupplyParameterFromQuery]
    private byte group_id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        group = await context.Groups.FirstOrDefaultAsync(m => m.group_id == group_id);

        if (group is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
